<h1>Welcome to Yelpdemo!</h1>
<h2>This is one of the sample applications for <a href="https://www.udemy.com">Udemy</a>, a platform that teaches people to build awesom custom websites with rails</h2>



